/******************************************
/* BASE STYLES
/*******************************************/
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 5%;
}

.restaurant-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color: black;
    color: cornsilk;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 40px; 
    border-radius: 20px;
    box-shadow: #111 0 0 20px;
  }
.restaurant-images img {
    width: 500px;
}

/******************************************
/* GRIDS STYLES
/*******************************************/
  .opening-hours-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .small-box-detailpage {
    
  }

  .big-box-detailpage {
    
  }

  .box-detailpage {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  ul {
    list-style-type: none;
    padding: 12%; 
  }

  li {
    padding: 10px;
    color: gray;
  }
  li:hover{
      color: black;
  }
  .details-detailpage {
    padding: 10%;
    color: gray;
  }
  .details-detailpage:hover {
      color: #693e4b;
      background-color: #c8c8c8;
  }

  .description {
      padding: 10%;
      font-size: 20px;
      color: rgb(73, 73, 73);
  }
  h4 {
      color: black;
  }

  /******************************************
/* DROPDOWNS AND BTN
/*******************************************/
#booking-time {
    color: #6b6b6c;
    font-size: 30px;
    background: #fff;
    border: 1px solid #111;
    padding: 0px 30px;
    display: inline-block;
    width: 680px;
    margin: 10px 50px 10px 150px;
    font-family: helvetica, arial, sans-serif;
    height: 60px;
    line-height: 74px;
    vertical-align: middle;
    box-shadow: #111 0 0 10px;
}

#booking-time:hover {
    background: #ececec;
}


#booking-day {
    color: #6b6b6c;
    font-size: 30px;
    background: #fff;
    border: 1px solid #111;
    padding: 0px 30px;
    display: inline-block;
    width: 680px;
    margin: 10px 50px 10px 150px;
    font-family: helvetica, arial, sans-serif;
    height: 60px;
    line-height: 74px;
    vertical-align: middle;
    box-shadow: #111 0 0 20px;
}
#booking-day:hover {
    background: #ececec;
}

#submit-btn {
    color: #6b6b6c;
    font-size: 30px;
    background: rgb(180, 180, 180);
    border: 1px solid #111;
    padding: 0px 30px;
    display: inline-block;
    width: 680px;
    margin: 10px 50px 10px 150px;
    font-family: helvetica, arial, sans-serif;
    height: 60px;
    line-height: 74px;
    vertical-align: middle;
    box-shadow: #111 0 0 20px;
}

#submit-btn:hover {
    background: #693e4b;
    color: rgb(230, 230, 230);
  }


.detail-map {
    margin: 30px 20px 10px 150px;
    width: 48%;
    border: 2px solid #693e4b;
    border-radius: 10px;
<<<<<<< HEAD
    -webkit-filter: grayscale(100%);
    filter: grayscale(85%);
=======
>>>>>>> f000e60... map alteration
}
 /******************************************
/* HEADER STYLE
/*******************************************/
.title {
    border:5px solid #693e4b;
    box-shadow: #111 0 0 5px;
    border-radius: 10px;
    color: black;
    margin: 10px;
    padding: 1px;
    padding-left: 20px;
}
.logo {
    width: 60px;
    margin-left: 20px;
    
    
}

nav button{
    background-color: white;
    padding: 20px;
    font-size: 20px;
    border: gray solid 1px;
    color: gray;
}
nav {
    position: fixed;
    top: 30px;
    right: 30px;
}
h3 {
    margin: 30px;
}

/******************************************
/* FOOTER STYLE
/*******************************************/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 60px;
    padding: 20px;
    border-top: 1px solid gray;
    font-size: 12px;
    color: gray;
}
footer img {
    position: relative;
    right: 20px;
    bottom: 20px;
}

