/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0 auto;
        padding: 0;
      }

      .map-container{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 3fr;
      }


      .restaurant-list-container{
        background-color:  #15B6D6;
    
      }
      
      .restaurant-list {
        background-color: #2ea9c2;
      }

    