<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" type="text/css" href="./css/style.css" /> -->
  </head>
  <body>
    <h2>RESTAURANT DETAILS</h2>

    <!-- <iframe
        width="100%"
        height="100%"
        frameborder="0"
        style="border: 0"
        zoom="13"
        src="https://www.google.com/maps/embed/v1/search?q=restaurants%20near%20me&key="
        allowfullscreen
      ></iframe> -->

    <script src="./restaurant_details.js"></script>
  </body>
</html>
